version: '3.3'

services:
  database:
    build: ./dbdocker/
    image: mysql:5.7
    environment:
      - MYSQL_DATABASE=images
      - MYSQL_ALLOW_EMPTY_PASSWORD='yes'
      - MYSQL_USER=root
    ports: 
      - '3306:3306'

  gallery:
    build: .
    depends_on:
      - 'database'
    ports:
      - '3003:3003'

version: '3.3'

services:
  gallery:
    image: christiannoh/gallery:gallery
    ports:
      - '80:3003'
    depends_on:
      - 'database'
    links:
      - 'database'
    restart: on-failure

  database:
    image: christiannoh/gallerydb:gallerydb
    ports:
      - '3306:3306'
    environment:
      MYSQL_DATABASE: 'images'
      MYSQL_ALLOW_EMPTY_PASSWORD: 'true'
      MYSQL_USER: 'root'